body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  /* The background image */
  background-image: url("../images/background-min.jpg");
  /* Set a specified height, or the minimum height for the background image */
  min-height: 500px;
  /* Set background image to fixed (don't scroll along with the page) */
  background-attachment: fixed;
  /* Center the background image */
  background-position: center;
  /* Set the background image to no repeat */
  background-repeat: no-repeat;
  /* Scale the background image to be as large as possible */
  background-size: cover;
}

.container {

}

#canvas-holder {
  padding: 15% 0;
}

#canvas {
  width: 100%;
  height: 80%;
  transform: skewY(-15deg);
  -webkit-transform: skewY(-15deg);
  -moz-transform: skewY(-15deg);
  -o-transform: skewY(-15deg);
}

#logo {
    max-width: 144px;
    width: 25%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    opacity: 0.9;
}

#logotext {
  max-width: 144px;
  width: 25%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.text {
  text-align: center;
  margin: 0;
}

.no-style {
  color: inherit;
  text-decoration: none;
}

#canvas {
  width: 100%;
  height: 80%;
  transform: skewY(-15deg);
  -webkit-transform: skewY(-15deg);
  -moz-transform: skewY(-15deg);
  -o-transform: skewY(-15deg);
}


#info {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 224, 0.5);
  color: white;
  font-size: small;
  width: 100%;
  padding: 10px 0 10px 0;
}

@media only screen and (max-width: 500px) {
  #canvas-holder {
  padding: 60% 0;
}
