.custom-tab-container {
  max-width: 1200px;
  margin: auto;
  margin-top: 40px;
}

.panel-body {
  max-width: 1000px;
  margin: auto;
  padding-top: 20px;
}

.custom-tab-container,
.panel-heading,
.panel-default {
  background-color: transparent !important;
  color: white !important;
}

.panel-heading {
  padding: 0 !important;
  border: 0;
}

.panel-default {
  border: 0;
  box-shadow: 0 0 0 transparent;
}

.custom-tab-item {
  text-align: center;
}

.custom-tab-item-odd {
  width: 25%;
  color: white;
  background-color: var(--main-highlight-purple);
}

.custom-tab-item-even {
  width: 25%;
  color: white;
  background-color: var(--main-highlight-blue);
}

.custom-tab-item-odd a {
  border-color: transparent;
  border-width: 4px 1 1 1px;
}

.custom-tab-item-even a {
  border-color: transparent;
  border-width: 4px 1 1 1px;
}

.panel-body {
  background-color: transparent;
}

.nav-tabs>li>a {
  border-width: 4px 1px 1px 1px !important;
  border-radius: 0px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: white !important;
  margin: 0 !important;
}

.nav-tabs>li>a:hover {
  background-color: inherit;
  border-color: transparent;
  border-top-color: white;
  border-width: 4px 1px 1px 1px;
}

.with-nav-tabs.panel-default .nav-tabs>li.custom-tab-item.active>a {
  border-color: transparent !important;
  border-top-color: white !important;
  background-color: var(--main-highlight-purple);
}

.with-nav-tabs.panel-default .nav-tabs>li.custom-tab-item-even.active>a {
  border-color: transparent !important;
  border-top-color: white !important;
  background-color: var(--main-highlight-blue);
}

.schedule-entry-separator {
  height: 30px;
  border-style: solid;
  border-width: 0 0 0 2px;
  border-color: white;
}

.schedule-entry .schedule-talk-lang {
  max-width: 1.3em;
  max-height: 1.3em;
  display: inline;
  margin: -0.2em 0 0 0;
}

.entry-title {
  font-weight: bold;
  border-style: solid;
  border-width: 4px;
  border-color: var(--main-third-highlight-blue);
  color: var(--main-third-highlight-blue);
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
}

.entry-title-other-oneline {
  font-weight: bold;
  border-style: solid;
  border-width: 4px;
  border-color: white;
  color: white;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
}

.entry-title-talk,
.entry-title-workshop,
.entry-title-other {
  border-style: solid;
  border-width: 4px;
  border-color: white;
  padding-top: 0.3em;
  padding-left: 1em;
  padding-bottom: 0.3em;
}

.entry-title-other .talk-title {
  font-weight: bold;
}

.entry-title-talk .talk-title,
.entry-title-workshop .talk-title {
  font-weight: bold;
}

.panel-body .tab-content .tab-pane .tab-entry {
  margin-top: 20px;
}

.entry-row .col-md-6 p {
  margin: 5px 0 5px 0;
}

.activity-entry {
  padding-left: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: var(--main-background-blue);
  background-color: white;
  margin-top: 10px !important;
  font-weight: bold;
}

a.dis-link-color,
a.dis-link-color:visited,
a.dis-link-color:hover,
a.dis-link-color:active {
  color: white !important;
}

.schedule-entry-type {
  color: var(--font-highlight-blue);
  font-size: 80%;
}

.schedule-entry-type.schedule-talk-location {
  padding-top: 13px;
}

.schedule-location-box {
  font-size: 70%;
  min-height: 56px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-style: solid;
  border-color: var(--font-highlight-blue);
}

/************************/

/***** TEMPLATE CSS *****/

/************************/

.panel.with-nav-tabs .panel-heading {
  padding: 5px 5px 0 5px;
}

.panel.with-nav-tabs .nav-tabs {
  border-bottom: none;
}

.panel.with-nav-tabs .nav-justified {
  margin-bottom: -1px;
}

.with-nav-tabs.panel-default .nav-tabs>li>a {
  color: #777;
}

.with-nav-tabs.panel-default .nav-tabs>.open>a {
  color: #777;
  background-color: #ddd;
  border-color: transparent;
}

.with-nav-tabs.panel-default .nav-tabs>li.active>a {
  color: #555;
  border-width: 3px 0 0 0;
  border-color: #ddd;
  border-bottom-color: transparent;
}

.with-nav-tabs.panel-default .nav-tabs>li.dropdown .dropdown-menu {
  background-color: #f5f5f5;
  border-color: #ddd;
}

table.schedule-table {
  min-width: 860px;
}

table.schedule-table tbody tr td,
table.schedule-table tbody tr th {
  border: none;
}

table.schedule-table thead tr th {
  text-align: center;
}

table.schedule-table thead tr th {
  border: none
}

table.schedule-table thead tr th:nth-child(2) {
  border-right: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
}

table.schedule-table thead tr th:nth-child(3) {
  border-bottom: 2px solid #ddd;
}

table.schedule-table tbody tr th {
  text-align: right;
}

table.schedule-table td.schedule-entry .block-title {
  font-weight: bold;
}

table.schedule-table td.schedule-entry .block-extras {
  font-size: 80%;
  color: var(--font-highlight-blue) !important;
}

table.schedule-table td.schedule-entry a div {
  color: white !important;
}

table.schedule-table div.schedule-entry-container {
  width: 100%;
  border: 2px solid white;
  padding: 8px;
  background-color: #00005f;
}

table.schedule-table div.schedule-entry-container div.break-desc {
  font-weight: lighter;
  margin-top: 10px;
  font-size: 90%;
}

table.schedule-table div.schedule-entry-container div.break-desc.special {
  margin-top: 50px;
}

table.schedule-table div.schedule-entry-container.rowcount-7.quick-fixer {
  min-height: 292px;
}

table.schedule-table div.schedule-entry-container.rowcount-2 {
  min-height: 60px;
}

table.schedule-table div.schedule-entry-container.rowcount-3 {
  min-height: 90px;
}

table.schedule-table div.schedule-entry-container.rowcount-4 {
  min-height: 130px;
}

table.schedule-table div.schedule-entry-container.rowcount-6 {
  min-height: 202px;
}

table.schedule-table div.schedule-entry-container.rowcount-7 {
  min-height: 250px;
}

table.schedule-table div.schedule-entry-container.rowcount-7.day-2-fixer {
  min-height: 283px;
}

table.schedule-table div.schedule-entry-container.rowcount-8 {
  min-height: 291px;
}

table.schedule-table div.schedule-entry-container.rowcount-8.day-1-fixer {
  min-height: 314px;
}

table.schedule-table div.schedule-entry-container.rowcount-8.day-2-fixer {
  min-height: 289px;
}

table.schedule-table div.schedule-entry-container.rowcount-10 {
  min-height: 367px;
}

table.schedule-table div.schedule-entry-container.rowcount-10.day-1-fixer {
  min-height: 386px;
}

table.schedule-table div.schedule-entry-container.rowcount-10.day-2-fixer {
  min-height: 442px;
}

table.schedule-table div.schedule-entry-container.rowcount-10.day-3-fixer {
  min-height: 348px;
}

table.schedule-table div.schedule-entry-container.rowcount-11 {
  min-height: 396px;
}

table.schedule-table td.break-entry div.schedule-entry-container {
  width: 100%;
  border: 2px solid var(--font-highlight-blue);
  color: var(--font-highlight-blue);
  padding: 8px;
  text-align: center;
  font-weight: bold;
}

table.schedule-table td.break-entry div.schedule-entry-container.rowcount-2 span {
  position: relative;
  top: 10px;
}

table.schedule-table td.break-entry div.schedule-entry-container.rowcount-4 span {
  position: relative;
  top: 42px;
}

.table-container {
  width: 100%;
  overflow-x: auto;
}

.schedule-button-container {
  width: 80%;
  margin: auto;
  min-height: 40px;
}

a .schedule-button button {
  color: white;
  margin-left: 10px;
}

.schedule-button {
  width: fit-content;
  display: block;
  float: right;
  margin: 0 0 0px 0px;
  padding: 0;
}

@media (max-width: 767px) {
  /* Este é o ponto de viragem para mobile-view*/
  .schedule-button {
      margin: auto;
      float: none;
  }
  
}

.schedule-button button {
  display: block;
  width: fit-content;
  padding: 4px 16px 4px 16px;
  font-size: large;
  font-weight: bold;
  border-width: 5px;
  border-color: white;
  border-style: solid;
}

.schedule-button button:hover {
  border-color: var(--main-third-highlight-blue);
  color: var(--main-third-highlight-blue);
}