body {
  margin: 0;
}

.logo-area {
  background-image: url("/images/background.png");
  width: 100%;
  min-height: 800px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.navbar-container-custom {
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}
