body {
  font-family: 'Roboto', sans-serif;
  transform: skewY(-15deg);
  -webkit-transform: skewY(-15deg);
  -moz-transform: skewY(-15deg);
  -o-transform: skewY(-15deg);
}

.pixel {
  width: 30px;
  height: 30px;
}
