body {
  font-family: 'Roboto', sans-serif;

  margin: 100px 0 0 0;
  width: 100%;

  background-color: whitesmoke;

  transform: skewY(-15deg);
  -webkit-transform: skewY(-15deg);
  -moz-transform: skewY(-15deg);
  -o-transform: skewY(-15deg);
}

#workspace {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0;
}

.pixel {
  display: inline-block;
  min-width: 30px;
  max-width: 30px;
  width: 30px;

  min-height: 30px;
  max-height: 30px;
  height: 30px;
}

.center {
  text-align: center;
}

.text {
  position: absolute;
  top: 20%;
  left: 35%;
  background-color: inherit;
  padding: 7px 15px;
  text-align: center;
}
