{{#each ambassadors}}
{{#if show}}
    <div>
        <div class="ambassador-wrapper">
            <img src="/images/ambassadors/{{image}}" class="ambassador-img">
            <div class="ambassador-overlay ambassador-overlay-shape">
                <div class="row overlay-content">
                    <a class="col-xs-3 col-xs-2" href="{{linkedin}}" target="_blank">
                        <img src="/images/linkedin.svg" alt="LinkedIn" width="40px" height="40px" />
                    </a>
                    <div class="col-xs-9 col-xs-10">
                        <div class="speaker-name">
                            {{name}}
                        </div>
                        <div class="speaker-shortbio">
                            {{shortBio}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/if}}
{{/each}}