<div class="enei-footer">
  <div class="container see-you-soon-footer">
    <h3 class="see-you-soon-txt enei-skew">Até breve!</h3>
  </div>
  <br/>
  <img class="footer-separator" src="images/separator-2-bluebgd.png"/>
  <div class="social-icon-container">
    <a href="https://www.facebook.com/ENEIConf/"><i class="fa fa-facebook-square fa-inverse fa-4x enei-social-icon" aria-hidden="true"></i></a>
    <a href="https://www.instagram.com/eneiconf/"><i class="fa fa-instagram fa-inverse fa-4x enei-social-icon" aria-hidden="true"></i></a>
    <a href="mailto:geral@enei.pt"><i class="fa fa-envelope-square fa-inverse fa-4x enei-social-icon" aria-hidden="true"></i></a>
  </div>
</div>
