<div class="enei-footer">
  {{#if footer_include_seeyousoon}}
    <div class="container see-you-soon-footer">
      <h3 class="see-you-soon-txt enei-skew">Até breve!</h3>
    </div>
    <br/>
  {{/if}}
  <div class="row separator-row separator-shapes-1">
    <div class="col-xs-3 enei-footer-piece-1 shape-square enei-skew enei-bgd-hlghtpink"></div>
    <div class="col-xs-3 enei-footer-piece-2 shape-square enei-skew enei-bgd-thrdhlghtblue"></div>
    <div class="col-xs-3 enei-footer-piece-3 shape-square enei-skew enei-bgd-shapepink"></div>
    <div class="col-xs-3 enei-footer-piece-4 shape-square enei-skew enei-bgd-shapeblue"></div>
  </div>
  <br/>
  <div class="social-icon-container">
    <a href="https://www.facebook.com/ENEIConf/"><i class="fa fa-facebook-square fa-inverse fa-4x enei-social-icon" aria-hidden="true"></i></a>
    <a href="https://www.instagram.com/eneiconf/"><i class="fa fa-instagram fa-inverse fa-4x enei-social-icon" aria-hidden="true"></i></a>
    <a href="mailto:geral@enei.pt"><i class="fa fa-envelope-square fa-inverse fa-4x enei-social-icon" aria-hidden="true"></i></a>
  </div>
</div>
