<div class="container navbar-container-custom">
  <nav class="navbar navbar-default navbar-custom">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav steps">
          <li><a href="/"><img src="/images/logo-transparent.png"></a></li>
          <li><a href="/#index-faq">Informações</a></li>
          <li><a href="/speakers">Speakers</a></li>
          <!--<li><a href="/#ambassadors">Embaixadores</a></li>-->
          <!--<li><a href="#">Staff</a></li>-->
          <li class="highlight-nav"><a href="https://goo.gl/XvWmqU">Compra um bilhete!</a></li>
          <li><a href="/#index-faq">FAQ's</a></li>
          <li><a href="mailto:geral@enei.pt">Contactos</a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
  </nav>
</div>
