{{#if include_navbar}} {{> navbar }} {{/if}}
<div class="container page-content-container">

  <div class="container speakers-title-container">
    <h1 class="speakers-title">Candidaturas 2019</h1>
    <div class="logo-wrapper">
      <div id="logo" class="enei-skew logo medium">
        <p id="E_1">E</p>
        <p id="N_2">N</p>
        <p id="E_3">E</p>
        <p id="I_4">I</p>
      </div>
    </div>
  </div>
  <div class="candidaturas-container row">
    <div class="row info-socialmedia-row">
      <div class="col-sm-2 info-socialmedia-col font-verylarge font-bold">
      </div>
      <div class="col-sm-8 info-socialmedia-col font-verylarge font-bold homepage-info-entry">
        <p>Queres organizar o próximo ENEI? Consulta o regulamento <a href='/misc/regulamento2019.pdf'>aqui</a> e apresenta uma candidatura!</p>
      </div>
      <div class="col-sm-2 info-socialmedia-col">
      </div>
    </div>
    <div class="row info-socialmedia-row">
      <div class="col-sm-2 info-socialmedia-col font-verylarge font-bold">
      </div>
      <div id="info-candidatura" class="col-sm-8 info-socialmedia-col font-bold">
        <p style="font-weight: bold;">Podes encontrar a template para a candidatura <a href="/misc/template2019.pdf">aqui</a>.</p>
      </div>
      <div class="col-sm-2 info-socialmedia-col">
      </div>
    </div>
  </div>
</div>

{{> footer }}