<div class="container page-content-container">

  <div class="row isolated-page-title-row">
    <h1>Error</h1>
  </div>
  <div class="row separator-row separator-shapes-1">
    <div class="col-sm-4 shape-square enei-skew enei-bgd-hlghtpink anim-vertical-phase1"></div>
    <div class="col-sm-4 shape-square enei-skew enei-bgd-thrdhlghtblue anim-vertical-phase2"></div>
    <div class="col-sm-4 shape-square enei-skew enei-bgd-hlghtpurple anim-vertical-phase3"></div>
  </div>

  <div class="notfound-container">
    <h1>{{message}}</h1>
    <h2>Click <a href="/">here</a> to return to the homepage.</h2>
  </div>
</div>
{{> footer}}
