<!-- Display the countdown timer in an element -->
<div class="logo-area">
  <div class="row" id="countdown-row">
    <div class="col-sm-1 col-md-2 col-lg-3 col-xl-3"></div>
    <div id="countdown" class="col-sm-10 col-md-8 col-lg-6 col-xl-6"></div>
    <div class="col-sm-1 col-md-2 col-lg-3 col-xl-3"></div>
  </div>
  <div class="logo shape-square enei-skew">
    <p id="E_1">E</p>
    <p id="N_2">N</p>
    <p id="E_3">E</p>
    <p id="I_4">I</p>
  </div>
</div>
{{> navbar  }}
<div class="container page-content-container">
  <div class="container subscribe-area-container">
    <div class="row info-socialmedia-row">
      <div class="col-sm-4 info-socialmedia-col font-verylarge font-bold homepage-info-small homepage-info-entry">23 a 26 de Março</div>
      <div class="col-sm-4 info-socialmedia-col font-verylarge font-bold homepage-info-entry">Faculdade de Engenharia da Universidade do Porto</div>
      <div class="col-sm-4 info-socialmedia-col font-verylarge font-bold homepage-info-entry">
        Segue-nos!<br/>
        <a href="https://www.facebook.com/ENEIConf/"><i class="fa fa-facebook-square fa-inverse enei-social-icon" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/eneiconf/"><i class="fa fa-instagram fa-inverse enei-social-icon" aria-hidden="true"></i></a>
        <a href="mailto:geral@enei.pt"><i class="fa fa-envelope-square fa-inverse enei-social-icon" aria-hidden="true"></i></a>
      </div>
    </div>
    <!-- DESCOMENTAR PARA CONTINUAR HOME PAGE
    <div class="row info-subscribe-row">
      <div class="col-sm-4 info-socialmedia-col"><button class="subcribe-btn-custom">Subsrever</button></div>
      <div class="col-sm-8 info-socialmedia-col"><input class="subcribe-input-custom" type="email" name="email" placeholder="email"></div>
    </div>-->
  </div>

  <div class="row separator-row separator-shapes-1">
    <div class="col-sm-4 shape-square enei-skew enei-bgd-hlghtpink anim-vertical-phase1"></div>
    <div class="col-sm-4 shape-square enei-skew enei-bgd-thrdhlghtblue anim-vertical-phase2"></div>
    <div class="col-sm-4 shape-square enei-skew enei-bgd-hlghtpurple anim-vertical-phase3"></div>
  </div>

  <div class="row speakers-row">
    <h1>Mais informações em breve!</h1>
  </div>

  <!-- DESCOMENTAR PARA CONTINUAR HOME PAGE

  <div class="row speakers-row">
    <h1>Speakers "slideshow"</h1>
  </div>

  <div class="row call-for-speakers-row">
    <div class="speakers-btn-container"><button class="call-speakers-btn-custom">Subsrever</button></div>
  </div>

  <div class="row ambassadors-row">
    <h1>Ambassadors "slideshow"</h1>
  </div>

  <div class="row join-team-row">
    <h1>Junta-te à equipa!</h1>
  </div>

  <div class="container tickets-area-container">
    <h1 class="ticket-area-title">Bilhetes</h1>
    <div class="row ticket-categories-row">
      <div class="col-sm-6 ticket-categories-col">Early bird</div>
      <div class="col-sm-6 ticket-categories-col">Normal</div>
    </div>
  </div> -->

  <div class="separator-row-secondary">
    <div class="row separator-shapes-2">
      <div class="col-sm-4 shape-square enei-skew enei-bgd-bgdblue anim-vertical-phase1"></div>
      <div class="col-sm-4 shape-square enei-skew enei-bgd-thrdhlghtblue anim-vertical-phase2"></div>
      <div class="col-sm-4 shape-square enei-skew enei-bgd-hlghtpurple anim-vertical-phase3"></div>
    </div>
  </div>

  <div class="container faqs-container">
    <h1 class="faqs-area-title">FAQ's</h1>
    <h3 class="faqs-entry-title">Onde me posso inscrever?</h3>
    <h3 class="faqs-entry-title">Quando me posso inscrever nos workshops?</h3>
    <h3 class="faqs-entry-title">Quem pode participar?</h3>
    <h3 class="faqs-entry-title">Tenho acesso a todas as sessões?</h3>
  </div>
</div>

<div class="enei-footer">
  <div class="container see-you-soon-footer">
    <h3 class="see-you-soon-txt enei-skew">Até breve!</h3>
  </div>
  <br/>
  <img class="footer-separator" src="images/separator-2-bluebgd.png"/>
  <div class="social-icon-container">
    <a href="https://www.facebook.com/ENEIConf/"><i class="fa fa-facebook-square fa-inverse fa-4x enei-social-icon" aria-hidden="true"></i></a>
    <a href="https://www.instagram.com/eneiconf/"><i class="fa fa-instagram fa-inverse fa-4x enei-social-icon" aria-hidden="true"></i></a>
    <a href="mailto:geral@enei.pt"><i class="fa fa-envelope-square fa-inverse fa-4x enei-social-icon" aria-hidden="true"></i></a>
  </div>
</div>
