<div class="logo-area"></div>
<div class="container navbar-container-custom">
  <nav class="navbar navbar-default navbar-custom">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav steps">
            <li><a href="#">Informações</a></li>
            <li><a href="#">Speakers</a></li>
            <li><a href="#">Embaixadores</a></li>
            <li><a href="#">Staff</a></li>
            <li><a href="#">Compra um bilhete!</a></li>
            <li><a href="#">FAQ's</a></li>
            <li><a href="#">Contactos</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div><!--/.container-fluid -->
    </nav>
</div>
<div class="container page-content-container">
  <div class="container subscribe-area-container">
    <div class="row info-socialmedia-row">
      <div class="col-sm-4 info-socialmedia-col">23 a 26 de Março</div>
      <div class="col-sm-4 info-socialmedia-col">Faculdade de Engenharia da Universidade do Porto</div>
      <div class="col-sm-4 info-socialmedia-col">Segue-nos!</div>
    </div>
    <div class="row info-subscribe-row">
      <div class="col-sm-4 info-socialmedia-col"><button class="subcribe-btn-custom">Subsrever</button></div>
      <div class="col-sm-8 info-socialmedia-col"><input class="subcribe-input-custom" type="email" name="email" placeholder="email"></div>
    </div>
  </div>
</div>
<h1>{{title}}</h1>
