{{#if include_navbar}}
  {{> navbar }}
{{/if}}
<link rel='stylesheet' href='/stylesheets/schedule.css' />

<div class="container page-content-container">
  <div class="custom-tab-container">
    <div class="panel with-nav-tabs panel-default">
      <div class="panel-heading">
        <ul class="nav nav-tabs">
          <li class="active custom-tab-item custom-tab-item-odd"><a href="#tab1default" data-toggle="tab">23 de Março</a></li>
          <li class="custom-tab-item custom-tab-item-even"><a href="#tab2default" data-toggle="tab">24 de Março</a></li>
          <li class="custom-tab-item custom-tab-item-odd"><a href="#tab3default" data-toggle="tab">25 de Março</a></li>
          <li class="custom-tab-item custom-tab-item-even"><a href="#tab4default" data-toggle="tab">26 de Março</a></li>
        </ul>
      </div>
      <div class="panel-body">
        <div class="tab-content">
          <!-- Tab 1 -->
          <div class="tab-pane fade in active" id="tab1default">
            <div class="tab-entry schedule-entry-separator"></div>

            <div class="row tab-entry entry-row">
              <div class="col-md-6 col-md-push-6">
                <p class="schedule-entry-time">8h</p>
                <p class="schedule-entry-type">ENGENHARIA</p>
              </div>
              <div class="col-md-6 col-md-pull-6">
                <div class="entry-title">
                  Pequeno-almoço
                </div>
              </div>
            </div>

            <div class="row tab-entry entry-row">
              <div class="col-md-6 col-md-push-6">
                <p class="schedule-entry-time">10h</p>
              </div>
              <div class="col-md-6 col-md-pull-6">
                <div class="tab-entry activity-entry">
                  Workshop Palestras Painéis
                </div>
              </div>
            </div>

            <div class="tab-entry schedule-entry-separator"></div>

            <div class="row tab-entry entry-row">
              <div class="col-md-6 col-md-push-6">
                <p class="schedule-entry-time">12h</p>
              </div>
              <div class="col-md-6 col-md-pull-6">
                <div class="entry-title">
                  Almoço
                </div>
              </div>
            </div>

            <div class="row tab-entry entry-row">
              <div class="col-md-6 col-md-push-6">
                <p class="schedule-entry-time">14h</p>
              </div>
              <div class="col-md-6 col-md-pull-6">
                <div class="tab-entry activity-entry">
                  Workshop Palestras Painéis
                </div>
              </div>
            </div>

            <div class="tab-entry schedule-entry-separator"></div>

            <div class="row tab-entry entry-row">
              <div class="col-md-6 col-md-push-6">
                <p class="schedule-entry-time">16h</p>
              </div>
              <div class="col-md-6 col-md-pull-6">
                <div class="entry-title">
                  Coffee break
                </div>
              </div>
            </div>

            <div class="row tab-entry entry-row">
              <div class="col-md-6 col-md-push-6">
                <p class="schedule-entry-time">17h</p>
              </div>
              <div class="col-md-6 col-md-pull-6">
                <div class="tab-entry activity-entry">
                  Workshop Palestras Painéis
                </div>
              </div>
            </div>

            <div class="tab-entry schedule-entry-separator"></div>

            <div class="row tab-entry entry-row">
              <div class="col-md-6 col-md-push-6">
                <div class="row">
                  <div class="col-md-6">
                    <p class="schedule-entry-time">19h</p>
                    <p class="schedule-entry-type">LETRAS ou DIREITO</p>
                  </div>
                  <div class="col-md-6 schedule-location-box">
                    Rua do Campo Alegre, 307
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-md-pull-6">
                <div class="entry-title">
                  Jantar
                </div>
              </div>
            </div>

            <div class="row tab-entry entry-row">
              <div class="col-md-6 col-md-push-6">
                <p class="schedule-entry-time">22h</p>
              </div>
              <div class="col-md-6 col-md-pull-6">
                <div class="tab-entry activity-entry">
                  Passeio pela baixa
                </div>
              </div>
            </div>

            <div class="row tab-entry entry-row">
              <div class="col-md-6 col-md-push-6">
                <p class="schedule-entry-time">00h</p>
              </div>
              <div class="col-md-6 col-md-pull-6">
                <div class="tab-entry activity-entry">
                  Visita à rua das Galerias de Paris
                </div>
              </div>
            </div>
          </div>
          <!-- Tab 1 -->
          <!-- Tab 2 -->
          <div class="tab-pane fade" id="tab2default">Cal 2</div>
          <!-- Tab 2 -->
          <!-- Tab 3 -->
          <div class="tab-pane fade" id="tab3default">Cal 3</div>
          <!-- Tab 3 -->
          <!-- Tab 4 -->
          <div class="tab-pane fade" id="tab4default">Cal 4</div>
          <!-- Tab 4 -->
        </div>
      </div>
    </div>
  </div>
</div>
