<script type="text/javascript">window.location.replace("/schedule");</script>
<div class="container page-content-container">
  <div class="row isolated-page-title-row">
    <h1>Parabéns! Usa o código -> <b>{{secret_key}}</b></h1>
  </div>
</div>
{{> footer}}