{{#if include_navbar}}
  {{> navbar }}
{{/if}}

<div class="container page-content-container">

  <br/>
  <div class="row separator-row separator-shapes-1">
    <div class="col-sm-4 shape-square enei-skew enei-bgd-hlghtpink anim-vertical-phase1"></div>
    <div class="col-sm-4 shape-square enei-skew enei-bgd-thrdhlghtblue anim-vertical-phase2"></div>
    <div class="col-sm-4 shape-square enei-skew enei-bgd-hlghtpurple anim-vertical-phase3"></div>
  </div>
  <div class="row isolated-page-title-row">
    <h1>Inscrição de grupo:</h1>
  </div>

  <div class="row signup-intro-container">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ornare sodales mauris, vitae tincidunt purus efficitur eu.
      Curabitur euismod nisi eros, varius porttitor justo sollicitudin in. Donec id nulla tortor. Nullam et urna at massa
      mollis suscipit. Nunc sollicitudin ullamcorper faucibus. Vivamus non nibh eget est scelerisque bibendum. Donec sollicitudin
      vehicula nisi vel scelerisque.
    </p>
    <p>
      Proin placerat justo volutpat tristique porta. Sed turpis velit, fermentum at arcu in, bibendum laoreet nisl. Donec ipsum
      tortor, eleifend quis ultricies at, finibus eget sem. Proin at mi vitae nisi placerat fermentum vitae nec diam. Duis
      consequat lacinia dictum. Fusce elementum dictum nibh, a pulvinar tortor viverra vel. Nulla facilisi. Pellentesque
      ultrices, dolor vitae tincidunt fermentum, velit justo tincidunt ex, at porttitor leo magna in urna.
    </p>
    <p>
      Vestibulum at vehicula urna, ac ornare erat. Ut eget elit vel erat tincidunt ullamcorper. Maecenas a odio at nibh suscipit
      rhoncus. Nullam sed sem iaculis, condimentum libero vitae, cursus mauris. Proin non nisi tempus, molestie quam nec,
      consequat nulla. Maecenas dapibus at neque ut elementum. Phasellus vitae odio at turpis accumsan euismod vel ut ante.
      Duis felis sapien, tristique nec nisi ut, rutrum suscipit urna. Donec et erat ultrices, vehicula leo non, aliquet mauris.
      Nam ut lacus quis quam tincidunt pretium. In porttitor quam quis lectus dictum, id scelerisque erat finibus. Donec
      dapibus congue magna, non vestibulum justo varius vitae. Vivamus eu metus orci.
    </p>
    <div class="signup-form-container">
      <form action="/signup-group-create" method="post">
        <div class="form-section">
          <div class="form-group">
            <label class="form-entry-title" for="signup-name">Clica no link abaixo para o copiar e envia-o para os teus amigos!</label>
            <p class="cursor-pointer" id="group_url" onclick="copyToClipboard('group_url')" data-toggle="modal" data-target="#copy_modal">
              https://enei.pt/signup?group={{ group_hash }}
            </p>
            <input type="hidden" name="group" class="form-control" value="{{ group_hash }}">
            <label class="form-entry-title">Atenção: depois de clicares no botão em baixo perdes acesso ao link de inscrição!</label>
          </div>
        </div>

        <button type="submit" class="btn btn-default">Continuar Inscrição</button>
      </form>
    </div>
  </div>

</div>

<!-- Modal -->
<div id="copy_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <p>O link de grupo foi copiado!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div>

  </div>
</div>

{{> footer}}