{{> navbar  }}

<div class="container page-content-container">

  <div class="row isolated-page-title-row">
    <h1>Obrigado pela tua inscrição!</h1>
  </div>
  <div class="row separator-row separator-shapes-1">
    <div class="col-sm-4 shape-square enei-skew enei-bgd-hlghtpink anim-vertical-phase1"></div>
    <div class="col-sm-4 shape-square enei-skew enei-bgd-thrdhlghtblue anim-vertical-phase2"></div>
    <div class="col-sm-4 shape-square enei-skew enei-bgd-hlghtpurple anim-vertical-phase3"></div>
  </div>

    <div class="row signup-complete-container">
      <h2>Estamos ansiosos por te conhecer!</h2>
      <br/><br/>
      <h3>Está atento ao teu email, bem como ao nosso site e redes sociais!</h2>
    </div>

</div>

{{> footer}}
