{{> navbar  }}

<div class="container page-content-container">

  <div class="row isolated-page-title-row">
    <h1>Erro na inscrição!</h1>
  </div>
  <div class="row separator-row separator-shapes-1">
    <div class="col-sm-4 shape-square enei-skew enei-bgd-hlghtpink anim-vertical-phase1"></div>
    <div class="col-sm-4 shape-square enei-skew enei-bgd-thrdhlghtblue anim-vertical-phase2"></div>
    <div class="col-sm-4 shape-square enei-skew enei-bgd-hlghtpurple anim-vertical-phase3"></div>
  </div>

    <div class="row signup-complete-container">
      <h2>Infelizmente houve algum erro na tua inscrição.</h2>
      <br/><br/>
      <h3>Por favor, tenta mais tarde. Vamos corrigir o problema o mais cedo possível!</h2>
    </div>

</div>

{{> footer}}
