{{#if include_navbar}}
  {{> navbar }}
{{/if}}
<div class="container page-content-container">

  <div class="container speakers-title-container">
    <h1 class="speakers-title">Speakers</h1>
    <div class="logo-wrapper">
      <div id="logo" class="enei-skew logo medium speaker">
        <p id="E_1">E</p>
        <p id="N_2">N</p>
        <p id="E_3">E</p>
        <p id="I_4">I</p>
      </div>
    </div>
  </div>
  <div class="speakers-container row">
    {{#each speakers}}
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="speaker-wrapper shape-clip-sketch-4-3 img-ratio-4-3">
          <div class="img-ratio-wrapper img-background" style="background-image: url(images/speakers/{{image}});">
            <div class="speaker-overlay">
              <div class="row overlay-content">
                <a class="col-md-3 col-lg-2" href="{{linkedin}}" target="_blank">
                  <img src="images/linkedin.svg" alt="LinkedIn" width="40px" height="40px"/>
                </a>
                <div class="col-md-9 col-lg-10">
                  <div>
                    {{name}}
                  </div>
                  <div>
                    {{shortBio}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>
